*.pyc
*__pycache__/
*application.tar
cert
key
conf/*
*.iml

build/

common/service_account.json
common/flask/secret_keys.py
common_tests/lib/
common/config.py

profile/app/tests/flask/lib/
profile/app/tests/js/lib/
profile/nginx/app/static/third_party/node_modules/bower/package.json
profile/nginx/app/static/third_party/bower_components
profile/nginx/app/static/third_party/node_modules
profile/app/Dockerfile
profile/nginx/Dockerfile
profile/nginx/conf/nginx/nginx.conf
profile/deployment.yaml

upload/server/app/config.py
upload/test_pod.yaml
upload/deployment.yaml
upload/daemon/Dockerfile
upload/server/app/config.py
upload/server/Dockerfile
upload/nginx/Dockerfile
upload/nginx/conf/nginx/nginx.conf
upload/system_tests/Dockerfile

movie/daemon/Dockerfile
movie/deployment.yaml

static-nginx/Dockerfile
static-nginx/deployment.yaml
static-nginx/app/static/node_modules
static-nginx/app/static/bower_components
static-nginx/app/static/build

app-container/Dockerfile
nginx-container/Dockerfile

/pending-uploads
