daemon                              off;
user                                www-data;
worker_processes                    auto;
pid                                 /run/nginx.pid;

events {
    use epoll;
    worker_connections              4096;  ## Default: 1024
    multi_accept                    on;
}

http {

    proxy_buffer_size               128k;
    proxy_buffers                   4 256k;
    proxy_busy_buffers_size         256k;

    ##
    # Logging Settings
    ##
    log_format main '$http_x_forwarded_for - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent"';
    access_log                      /dev/stdout main;
    error_log                       stderr;

    server {
        listen                      *:80;

        listen                      443 ssl;
        ssl_certificate             /etc/nginx/lb-emulator.crt;
        ssl_certificate_key         /etc/nginx/lb-emulator.key;

        location / {
            proxy_set_header        Host $host;
            proxy_set_header        X-Real-IP $remote_addr;
            proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header        X-Forwarded-Proto $scheme;
            proxy_pass              http://static-nginx:80/;
            proxy_read_timeout      90s;
            proxy_redirect          off;

            client_max_body_size    1m;
        }
        location /services/geo/ {
            proxy_set_header        Host $host;
            proxy_set_header        X-Real-IP $remote_addr;
            proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header        X-Forwarded-Proto $scheme;
            proxy_pass              http://geo-nginx:80/services/geo/;
            proxy_read_timeout      90s;
            proxy_redirect          off;

            client_max_body_size    100m;

            include 'cors.conf';
        }
    }
}
